@import "../../../styles/utilities/mixins.scss";
@import "../../../styles/utilities/variables.scss";
@import "../../../styles//utilities/colors.scss";

.restaurant {
    height: $card-restaurant-height;
}

.dish {
    height: $card-height;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: $card-width;
    background-color: $color-secondary-pearl;

    .image {
        width: 100%;
        height: 152px;
    }

    .card-info {
        padding: 16px;

        .item-title {
            margin: 0px;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .description-pic {
                width: 30px;
                height: 24px;
            }

            .price {
                margin: 0px;
            }
        }
    }
}
