@import "../../../styles/utilities/mixins.scss";
@import "../../../styles/utilities/variables.scss";
@import "../../../styles//utilities/colors.scss";

.restaurant {
    height: $card-restaurant-height;
    width: $card-width;

    @media (min-width: $desktop-breakpoint) {
        height: $card-restaurant-desktop-height;
    }
}

.dish {
    height: $card-height;
    width: $card-width;

    @media (min-width: $desktop-breakpoint) {
        height: $card-desktop-height;
        width: $card-desktop-width;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    background-color: $color-secondary-pearl;

    .image {
        width: 100%;
        height: 152px;

        @media (min-width: $desktop-breakpoint) {
            height: 210px;
        }
    }

    .card-info {
        padding: 16px;

        @media (min-width: $desktop-breakpoint) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-title {
            margin: 0px;
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            @media (min-width: $desktop-breakpoint) {
                align-items: center;
            }

            .body-text {
                @media (min-width: $desktop-breakpoint) {
                    text-align: center;
                }
            }

            .description-pic {
                width: 30px;
                height: 24px;
            }

            .price {
                margin: 0px;
            }
        }
    }
}
