@import "../../../../styles/utilities/variables.scss";

.restaurant-list {
    margin: 0px $home-page-margin;

    .restaurant-title {
        text-transform: uppercase;
        margin-bottom: 0px;

        @media (min-width: $desktop-breakpoint) {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
    }
}
