@import "../../../styles/utilities/mixins.scss";
@import "src/styles/utilities/variables.scss";
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 20px;
    background-color: white;
    z-index: 2;
    top: 0;
    position: sticky;

    @media (max-width: $desktop-breakpoint) {
        justify-content: center;
    }

    @media (min-width: $desktop-breakpoint) {
        padding-top: 20px;
    }
}
