// Primary Colors
$color-primary-black: #000000;
$color-primary-gray: #979797;

// secondary Colors
$color-secondary-pearl: #f9f4ea;
$color-secondary-yellow: #e19d1a;
$color-secondary-bright: #fafafa;
