$font-family: "Helvetica Neue", sans-serif;
$header-icon-width: 20px;
$header-icon-height: 20px;
$desktop-breakpoint: 768px;
$card-width: 225px;
$card-desktop-width: 280px;
$card-height: 388px;
$card-desktop-height: 500px;
$card-restaurant-height: 233px;
$home-page-margin: 20px;
