$font-family: "Helvetica Neue", sans-serif;
$header-icon-width: 20px;
$header-icon-height: 20px;
$desktop-breakpoint: 768px;

$card-width: 225px;
$card-desktop-width: 245px;

$card-height: 388px;
$card-desktop-height: 540px;

$card-restaurant-height: 233px;
$card-restaurant-desktop-height: 310px;

$card-width-restaurant-desktop: 250px;

$home-page-margin: 20px;
