@import "../../../../../styles/base/typography.scss";
@import "../../../../../styles/utilities/colors.scss";
@import "../../../../../styles/utilities/variables.scss";

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    @media (min-width: $desktop-breakpoint) {
        align-items: center;
    }

    .menu-item {
        font-family: $font-family;
        color: $color-primary-black;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        letter-spacing: 1.92px;
        text-decoration: none;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        gap: 30px; // Adjust the gap value as desired

        @media (min-width: $desktop-breakpoint) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }
}
