@import "../../../../styles/utilities/mixins.scss";
@import "../../../../styles/utilities/colors.scss";
@import "../../../../styles/base/typography.scss";

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary-bright;
    padding: 0px 110px;

    @media (max-width: 768px) {
        display: none;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .stores {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: 16px;
            gap: 20px;
        }

        .google-play,
        .app-store {
            width: 300px;
            margin-bottom: 16px;
            width: 180px;
            height: 52px;
        }

        .about-us-text {
            width: 500px;
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        .about-us-text-2 {
            width: 306px;
            margin-top: 0px;
        }
    }
    .logo-container {
        .epicure-logo {
            width: 178px;
            height: 140px;
            margin-bottom: 30px;
            margin-top: 24px;
        }
    }
}
