@import "../../../styles/utilities/mixins.scss";
@import "../../../styles/utilities/variables.scss";

.food-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: $card-width;

    .dish-image {
        width: 100%;
        height: auto;
    }

    .card-info {
        padding: 16px;

        .dish-title {
            margin: 0px;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .description-pic {
                width: 30px;
                height: 24px;
            }

            .price {
                margin: 0px;
            }
        }
    }
}
