@import "../../../../styles/utilities/mixins.scss";
@import "../../../../styles/utilities/colors.scss";
@import "../../../../styles/base/typography.scss";

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-secondary-bright;
    padding: 0px 11px;

    // @media (min-width: 767px) {
    //     display: none;
    // }

    .epicure-logo {
        width: 102px;
        height: 95px;
        margin-bottom: 30px;
        margin-top: 24px;
    }

    .google-play,
    .app-store {
        width: 300px;
        margin-bottom: 16px;
        width: 180px;
        height: 52px;
    }

    .about-us-text {
        width: 331px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 24px;
    }

    .about-us-text-2 {
        width: 306px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
