.chef-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;

    .chef-info {
        display: flex;
        flex-direction: column;

        .chef-image {
            width: 100%;
            height: auto;
        }

        .description {
            padding-top: 16px;
        }
    }

    .chef-restaurants {
        
    }
}
