// (h1, h2, etc.), paragraphs, and other text elements.
@import "../utilities/colors";
@import "../utilities/variables";

h1 {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: $color-primary-black;
}

h2 {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: $color-primary-black;
}

h3 {
    font-family: $font-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 2.67px;
    color: $color-primary-black;
}

// same for desktop
// not finished
@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
        line-height: 54px;
    }
}
